html {
  background-color: turquoise;
}


h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #191970;  /* Fuchsia */
	text-shadow: 3px 3px 1px #483D8B;
}
h2 {
	font-size: 30px;
	text-align: left;
	margin: 0;
	padding: 20px 0;
	color: blue;  /* Fuchsia */

}
a:link{
  color: navy;

}
img {
  display: block;
  margin: 0 auto;
  align: center;
}

p {
  color: red;
}

table {
  width:60%;
  height: 110%;
  align: center;
	background-color: white;
}

/* Defining styling for a specific element type - each question */
.question {
  background-color: royalblue;
  color: white;
  margin: 20px;
  padding: 20px;
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: 50%;
  border: none;
  background-color: Orange;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;


}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: blue;
  font-style: italic;
  font-size: 100%;
}
form{
width: 100%;
height: 100%;
}


textarea [name =message]{

  width: 1000%;
  height: 2000%;


}



::placeholder{
  color:gray;
  opacity:1;
}
::-ms-input-placeholder{
  color:gray;
}
:-ms-input-placeholder{
  color:gray;
  opacity:1;
}
footer {
  font-size: 80%;
	text-align: right;
  text-align: bottom;
	margin: 0;
	padding: 10% 0;
	color: blue;  /* Fuchsia */


}
